<div style="display: none;" class="tags-block">
    <div class="tag-block">
        <div class="tags-group-name mb-3 text-3">
            <span class="block-title text-uppercase">Обложка</span>
            <a
                href="#"
                class="reset-tags-filter text-1 company-color-text hidden mr-3"
                >Сбросить</a
            >
        </div>
        <div class="tags-for-group small-text">
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="tverdaya"
                    />
                    <span class="text-gray-700 small-text">Твердая</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="tkanevaya"
                    />
                    <span class="text-gray-700 small-text">Тканевая</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="ekokozha"
                    />
                    <span class="text-gray-700 small-text">Экокожа</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="premial-naya"
                    />
                    <span class="text-gray-700 small-text">Премиальная</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="kollekcionnaya"
                    />
                    <span class="text-gray-700 small-text">Коллекционная</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="myagkaya"
                    />
                    <span class="text-gray-700 small-text">Мягкая</span>
                </label>
            </div>
            <div class="mt-3">
                <a href="#" class="show-tags-filter text-1 company-color-text"
                    >Показать все (6)</a
                >
            </div>
        </div>
    </div>
    <div class="tag-block">
        <div class="tags-group-name mb-3 text-3">
            <span class="block-title text-uppercase">Страницы</span>
        </div>
        <div class="tags-for-group small-text">
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="tonkie"
                    />
                    <span class="text-gray-700 small-text">Тонкие</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="tolstye-layflat"
                    />
                    <span class="text-gray-700 small-text">Толстые Layflat</span
                    >
                </label>
            </div>
        </div>
    </div>
    <div class="tag-block">
        <div class="tags-group-name mb-3 text-3">
            <span class="block-title text-uppercase">Кол-во страниц</span>
        </div>
        <div class="tags-for-group small-text">
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="do-20"
                    />
                    <span class="text-gray-700 small-text">до 20</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="20"
                    />
                    <span class="text-gray-700 small-text">20</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="24"
                    />
                    <span class="text-gray-700 small-text">24</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="30"
                    />
                    <span class="text-gray-700 small-text">30</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="36"
                    />
                    <span class="text-gray-700 small-text">36</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="40"
                    />
                    <span class="text-gray-700 small-text">40</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="60"
                    />
                    <span class="text-gray-700 small-text">60</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="80"
                    />
                    <span class="text-gray-700 small-text">80</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="100"
                    />
                    <span class="text-gray-700 small-text">100</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="120"
                    />
                    <span class="text-gray-700 small-text">120</span>
                </label>
            </div>
            <div class="mt-3">
                <a href="#" class="show-tags-filter text-1 company-color-text"
                    >Показать все (10)</a
                >
            </div>
        </div>
    </div>
    <div class="tag-block">
        <div class="tags-group-name mb-3 text-3">
            <span class="block-title text-uppercase">Темы</span>
        </div>
        <div class="tags-for-group small-text">
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="novyy-god"
                    />
                    <span class="text-gray-700 small-text">Новый год</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="svad-ba"
                    />
                    <span class="text-gray-700 small-text">Свадьба</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="sem-ya"
                    />
                    <span class="text-gray-700 small-text">Семья</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="den-rozhdeniya"
                    />
                    <span class="text-gray-700 small-text">День Рождения</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="detskaya"
                    />
                    <span class="text-gray-700 small-text">Детская</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="puteshestvie"
                    />
                    <span class="text-gray-700 small-text">Путешествие</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="arhivnaya"
                    />
                    <span class="text-gray-700 small-text">Архивная</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="lovestory"
                    />
                    <span class="text-gray-700 small-text">LoveStory</span>
                </label>
            </div>
            <div class="tags-for-group__item mb-2 showedHide hidden">
                <label class="custom-label">
                    <input
                        class="custom-input tag-item"
                        type="checkbox"
                        name="tag"
                        data-tag="dlya-lyubogo-sluchaya"
                    />
                    <span class="text-gray-700 small-text"
                        >Для любого случая</span
                    >
                </label>
            </div>
            <div class="mt-3">
                <a href="#" class="show-tags-filter text-1 company-color-text"
                    >Показать все (9)</a
                >
            </div>
        </div>
    </div>
</div>
