<li>
    <label class="mpp-filter-checkbox">
        <input type="checkbox">
        <span></span>
    </label>
</li>

<style>

    li {
        margin: 0;
        list-style-type: none;
    }
</style>
